
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

body {
	font-family:"Fira Sans","Helvetica", "Arial", sans-serif;
	font-size: 18px;
	margin: 40px;
	border: 20px;
	padding:20px;
	background-color: black;
	color: white;
  max-width: 960px;
  margin: 0 auto;
}



li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}


header{
	margin-top: 100px;
  color: white;

}

p{
	float: right;
	font-size: 10px;
	font-color:white;
}

h2{
	margin:20px;
}

h1{
	font-family:"Exo","Helvetica", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 900;
}

li{
	font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
	font-weight: 800;
	margin:20px;
	border: 20px;
  list-style: none;
}

section {
text-align: left;
 margin: 60px;
 border: 20px;
 border-left: 20px;
 color: black;
 padding: 3000px auto;
 color: white;
 }

main {
  padding: 20px auto;
  margin: 20px;
  border-spacing: 60px;
  grid-gap: 20px;
  grid-template:
  font-size: 18px;
  border-radius: 20px;
}

article{
	margin: 20px;
}

nav a{
  text-decoration: none;
  text-align: center;
  margin: 0;
  display: inline-block;
  width: 5.5em;
  font-color:black;
  background-color: white;
}

nav {
  text-decoration: none;
  text-align: center;
  margin: 0;
  display: inline-block;
  width: 5.5em;
  color: black;
  margin-bottom:20px;
  padding-left: 30px;
}

li a:visited{
  color:black;

}

li a:hover {
  color: black;
  background-color: blue;
}

li a.active {
  color: black;
  background-color: orange;
}

nav{
  font-family: 'Exo', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 190px;
  background-color: black;
  width: 65%;
}

nav ul{
  list-style: none;
  margin: 0px;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid white;
  margin-bottom: 20px;



}


#home{
  font-family:"Fira Sans","Helvetica", "Arial", sans-serif;
	color: black;
	background-color: black;
  max-width: 960px;
  margin: 0 auto;

}
#event{
  font-family:"Fira Sans","Helvetica", "Arial", sans-serif;
  color: black;
  background-color: black;
  max-width: 960px;
  margin: 0 auto;
}

  }
#eboard{
  font-family:"Exo","Helvetica", "Arial", sans-serif;
  color: black;
  background-color: black;
  max-width: 960px;
  margin: 0 auto;

}
#portfolio{
  font-family:"Exo","Helvetica", "Arial", sans-serif;
  color: black;
  background-color: black;
  max-width: 960px;
  margin: 0 auto;
  
}
#bondlogo{
  margin-left: 330px;
  position: center;
  margin-top: 0px;
  padding-top: 70px;
  margin-bottom: 0px;
  border-bottom: 0px;

}

#eboardpic{
  margin-left: 20px;
}

#elayout{
  display: grid;
  grid-template-columns: 2fr 2fr;
  /*grid-template-rows: 50px 100px;*/
  grid-gap: 0px;
  max-width: 960px;

}

#eboardt{
  margin-top: 0px;
  background-color: grey;
  margin-left: 0px;
  
  text-align: center;
}

#eboardc{
  margin-right: 0px;
  font-size: 15px;
}


#lilp{
  font-size: 12px;
}



p{
	font-size: 20px;
  margin: 20px;
  margin-top: 0px;
  margin-left: 0px;
}

#esection{
  padding-top: -15px;
  margin-top: 0px;
}


#bond{
	text-align:center;
  background-color: grey;
  margin-top: 0px;
  margin-left: 0px;
  
}

#postions{
  margin-left: 90px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

div {
  box-sizing: border-box;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 0px;
  padding-left: 35px;

}


.column {
  justify-content: center;
  float: left;
  width: 50%;
  padding-top: 0px;
  margin-bottom: 0px;

}


.row::after {
  content: "";
  clear: both;
  display: table;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}